*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  } 

  .containner{
      width: 1360px;
      height: 550px;
      background-color: #129799;
  }

  .li1{
      display: flex;
      justify-content:space-around;
      padding: 2rem;
      padding-right: 27rem;
      list-style: none;
      color: white;
      list-style: none;
  }

  .li2{
    display: flex;
    text-decoration-color: white ;
    margin: 14rem;
    justify-content: space-around;
    color: white;
    list-style: none;
  }

  h1{
      margin-top: 6em;
  }

  .seção{
    width: 1360px;
    height: 1500px;
    background-color: #FFA185;
  }

  .item{
      background-color: #FFA185;
      color: #fff;
      text-align: center;
  }

  .rodapé{
      width: 1360px;
      height: 140px;
      background-color: #129799;
  }

  .Container{
      display: grid;
      grid-template-columns: auto auto;
      margin-top: 5rem;
  }

  .Titulo{
      text-transform: uppercase;
      color: white;
      padding-top: 70px;
      padding-left: 20px;
  }

  .Paragrafo{
      padding-top: 20px;
      padding-left: 20px;
  }

  .Cor{
      background-color: #FFA185;
  }

  .item{
      padding-bottom: 25px;
  }

  .Paragrapho{
      background-color: #FFA185;
      padding-top: 6rem;
      text-align: center;
      padding: 25px;
      color: black;
  }

  .Conteúdo{
      margin: 10px;
      margin-top: 50px;
      margin-left: 60px;
  }

  .Lista{
      display: inline;
      margin-left: 20%;
  }